:root {
    --primary: #171D1C;   /* Deep Navy (main background) */
    --secondary: #C9C9C9; /* Electric Teal (links/buttons) */
    --accent: #B8DBD9;    /* Neon Pink (headings) */
  }
  body {
    background: var(--primary);
  }
  .links a {
    color: var(--secondary);
  }
  h1 {
    color: var(--accent);
  }

  .search-bar input {
    padding: 8px;
    border-radius: 20px;
    border: none;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 30px; /* Adds space between logo/search/links */
  }

  .logo img {
    filter: drop-shadow(0 0 10px var(--secondary)); /* Adds glow effect */
    transition: transform 0.3s ease;
  }
  .logo img:hover {
    transform: scale(1.1); /* Subtle hover animation */
  }